<%- include('TableHeader.ejs') -%>
<%- include('Navbar_Post_Login.ejs') -%>
<table class="tableStyle">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone number</th>
        <th scope="col">E-mail</th>
        <th scope="col">Medical specialty</th>
        <th scope="col">&nbsp</th>
    </tr>
    </thead>
    <tbody>
    <%  doctorData.forEach(function (doctor){ %>
        <tr>
            <td><%= doctor.name%>   </td>
            <td><%= doctor.phone_number%>   </td>
            <td><%= doctor.e_mail%> </td>
            <td><%= doctor.med_spec%> </td>
            <td>
                <a href='/Doctors/edit/<%= doctor._id%>'> <i class="far fa-edit"> </i> </a>
                <a href='/Doctors/del/<%= doctor._id%>'> <i class="far fa-trash-alt"></i> </a>
            </td>
        </tr>

    <%  });  %>

    </tbody>
</table>
<%- include('Footer.ejs') -%>