<%- include('Header.ejs') -%>
<%- include('Navbar.ejs') -%>
<div class="registeringContainer">
    <form method="POST">
        <div class="row">
            <div class="form-group">
                <label for="Name"> <b>Name</b>  </label>
                <input type="text" class="form-control" id="Name" name="Name"
                       value="<%= doctor.Name%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Phone"> <b>Phone number</b> </label>
                <input type="text" class="form-control" id="Phone" name="Phone"
                       value="<%= doctor.Phone_number%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Mail"> <b>E-mail</b></label>
                <input type="text" class="form-control" id="Mail" name="Mail" value="<%= doctor.E_mail%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Password"> <b>Password</b></label>
                <input type="password" class="form-control" id="Password" name="Password" value="<%= doctor.Password%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Patients"><b>Medical specialty</b></label>
                <input type="text" class="form-control" id="Specialty" name="Specialty" value="<%= doctor.Medical_specialty%>">
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Edit"/>
            <a  style="margin-left: 50px;" class="btn btn-primary" href="/Doctors" >Cancel </a>

        </div>
    </form>
</div>
<%- include('Footer.ejs') -%>