<%- include('TableHeader.ejs') -%>
<%- include('Navbar_Post_Login.ejs') -%>



<h1> List of your patients.</h1>
<table  class="tableStyle" >
    <thead>
    <tr>
        <th   scope="col">Name</th>
        <th   scope="col">Illness</th>
        <th   scope="col">Date of birth</th>
        <th   scope="col">Name of the doctor</th>
        <th   scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <%  patients.forEach(function (patient){ %>
        <tr>
            <td><%= patient.name%>   </td>
            <td><%= patient.illness%>   </td>
            <td><%= patient.date_of_birth%> </td>
            <td><%= patient_doctor.shift()%> </td>
            <td>
                <a href='/Patient/edit/<%= patient._id%>'> <i class="far fa-edit"> </i> </a>
                <a href='/Patient/del/<%= patient._id%>'> <i class="far fa-trash-alt"></i> </a>
            </td>
        </tr>

    <%  });  %>

    </tbody>
</table>
</body>
<%- include('Footer.ejs') -%>