<%- include('Header.ejs') -%>
<%- include('Navbar_Post_Login.ejs') -%>
<div  class="registeringContainer" >
    <form method="POST">
        <div class="row">
            <div class="form-group">
                <label for="Name"> <b>Name</b></label>
                <input type="text" class="form-control" id="Name" name="Name"
                       value="<%= patient.name%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Illness"><b>Illness</b></label>
                <input type="text" class="form-control" id="Illness" name="Illness"
                        value="<%= patient.illness%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Birth"> <b>Date of birth</b></label>
                <input type="text" class="form-control" id="Birth" name="Birth"
                        value="<%=patient.date_of_birth%>">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="Doctor_name"><b>Name of the doctor</b></label>
                <input type="text" class="form-control" id="Doctor_name" name="Doctor_name"
                        value="<%=doctor_name%>">
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Edit" >
            <a style="margin-left: 50px" class="btn btn-primary" href=%>"/Patients"    >Cancel </a>
        </div>
    </form>
</div>
<%- include('Footer.ejs') -%>